@import url("./Vars.css");

html{
    min-height: 100vh;
    overflow-y: hidden;
}
body{
    background-color: rgb(11, 0, 53);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    
}
body p,span{
    font-family: var(--text);
}
body h1,h2,h3,h4{
    font-family: var(--title);
} 
*{
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
