@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Ubuntu:wght@300;400;700&display=swap');

:root{
    --title:'Quicksand', sans-serif;
    --text:'Ubuntu', sans-serif;
    --degrade:linear-gradient(70deg,rgb(0, 14, 208),rgb(0, 238, 255))1;
    --blur:blur(2px) opacity(0.2);
}