.CardContainer{
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}
.CardContainer::-webkit-scrollbar{
    display: none;
}
.letter{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}