.LettersContainer{
    text-align: center;

}
.LettersContainer h2{
    color: #00eeff;
    font-size: 30px;
    text-decoration: underline;
}
.LogContainer{
    text-align: center;
    
}
.LogContainer img{
    border: 20px solid black;
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    margin: 20px 0 20px 0 ;
    animation: infinite;
    animation-name: road;
    animation-duration: 4s;
    animation-direction: alternate;
}
@keyframes road{
    100%{
        transform: rotate(360deg);
    }
}

.Container{
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: space-between;
    overflow: scroll;
    
}
.Container::-webkit-scrollbar{
    display: none;
}
.Text {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}