@import url("../../styles/Vars.css");
.Footer{
    width: 100%;
    border-top: 2px solid transparent;
    border-image: var(--degrade);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 35px;
}
.Footer::before{
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    z-index: 10;
    border: solid 4px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#002042, #002042),linear-gradient(0deg,rgba(208, 125, 0, 1),rgba(66, 0, 255, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 5px;
}
.Border{
    height: 50px;
    background: white;
    filter: var(--blur);
}
