.dropdown_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 11;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_activator {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.199);
  border: none;
  height: 45px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 1.1px;
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: 1rem 0.6rem;
  cursor: pointer;
  width: 46px;
  border-radius: 50%;
  font-size: 5rem;
  position: absolute;
  top: -72%;
  transition: 0.2s;
}

.dropdown_activator:hover {
  background-color: rgb(0, 204, 255);
  transition: 0.2s;
}

.dropdown_item_list {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  visibility: hidden;
  padding: 0;
  height: 0;
  opacity: 0;
  width: 50%;
}

.dropdown_item_list.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50%;
  height: 29rem;
  transform: translateY(-70%);
  visibility: inherit;
  opacity: 1;
  z-index: 1;
}

.item_list {
  list-style: none;
}

